form {
  border: none;
  margin: 0;
}

textarea {
  height: 50px;
  resize: none;
}

fieldset {
  border: 1px solid #8cacbb;
  margin: 1em 0em 1em 0em;
  padding: 0em 1em 1em 1em;
  line-height: 1.5em;
  width: auto;
}

legend {
  background: #ffffff;
  padding: 0.5em;
  font-size: 90%;
}

label,
form.jqtransformdone label {
  margin: 20px 0 10px 0;
  width: 100%;
}

optgroup {
  font-style: normal;
  font-weight: bold;
  color: #999;
  padding-left: 0.25em;
}

option {
  color: black;
}

optgroup > option {
  padding: 0 0.25em 0 1em;
}

dl.enableFormTabbing dd {
    margin-left: 0;
    padding-top: 2em;
}

.required {
    background: url(required.png) center left no-repeat;
    padding: 0 0 0 8px;
    color: #ffffff;
}

.error {
  font-size: 11px;
  padding: 10px;
  margin-top: 2px;
  clear:both;
}

.ui-state-error .ui-icon,
.ui-state-highlight .ui-icon{
  float: left;
  margin-right: 3px;
  margin-top: -2px;
}

.errors {
  display: none;
}

.widget {
  width: 100%;
  clear: both;
}

.jqTransformInputWrapper{
  float: left;
  margin-right: 14px;
}

.jqTransformInputInner div input {
  padding: 0;
}

label .hint{
  display: block;
  font-size: 11px;
}

.formControls {
  text-align: right;
}

.ui-datatable span.jqTransformCheckboxWrapper{
  margin-top: 0;
}

.ui-datatable a.jqTransformCheckbox{
  background-position: center -2px;
  height: 15px;
}

.ui-datatable a.jqTransformChecked {
  background-position: center -21px;
}

.jqTransformInputWrapper input.spinbox-active {
  width: 16px!important;
  padding-right:18px;
  text-align:right;
  background-repeat:no-repeat;
  background-position:right center;
}
