html, body {
  height: 100%;
}

/* if you mark/select some text */
::selection {
  color: #FFF;
  background-color: #223BFF;
}

div {
  border: solid 1px red;
}

#wrapper > * {margin: 0px 40px;}
#wrapper {
  min-height: 100%;
  position: relative;
  overflow: auto;
}

#header {
  position: relative;
  height: 100px;
}

#middle-wrap {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 102px;
  bottom: 100px;
  min-height: 300px;
}

.box{
  border: solid 1px #c8cccd;
  border-radius: 14px;
  background-color: #FFF;
}

#navigation {
  width: 300px;
  position: absolute;
  top: -1px;
  bottom: 0px;
  left: -321px;
}

#navigation div>ul>li{
  border-left: none;
  border-right: none;
}

#middle {
  position: absolute;
  top: 102px;
  bottom: 20px;
  right: 20px;
  left: 320px;
}

#content {
  padding: 20px;
  min-height: 100%;
  position: relative;
  margin-left: 320px;
  
  border-top-right-radius: 0px;
}

#content h1 {
  font-size: 20px;
}

#content h1 small {
  display: block;
  color: #464F52;
  font-size: 9px;
  border-bottom: 1px dotted #464F52;
  margin-top: 2px;
  padding-bottom: 4px;
  padding-left: 10px;
}

#content p {margin: 14px 0px;}

#header-nav {
  position: absolute;
  bottom: -3px;
  right: 0px;
  
  padding: 5px 8px;
  z-index: 100;
  
  text-align: right;
  
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
}


#header-nav>*{
  float: right;
}

.header-nav ul li {
  margin-left: 15px;
  display: inline-block;
}

#header-nav .screenname {
  font-weight: bold;
}






