/* navigation */

#logo{
	position: absolute;
	top: 8px;
	
	/*padding: 9px 7px;
	border-bottom: 1px dotted #333;
	padding-right: 189px;
	
	/*position: absolute;
	top: -20px;
	left: 10px;
	
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  -webkit-border-top-left-radius: 14px;
  -webkit-border-top-right-radius: 14px;
  -moz-border-top-left-radius: 14px;
  -moz-border-top-right-radius: 14px;
  
  background-color: #ffffff;
  color:#f14c1a;
  height: 20px;
  padding:20px 30px;*/
}

#navigation-body .ui-accordion-content {
	margin-bottom: 1px;
}

#navigation-body .ui-accordion-header:first-child {
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
	-webkit-border-top-left-radius: 14px;
	-webkit-border-top-right-radius: 14px;
	-moz-border-top-left-radius: 14px;
	-moz-border-top-right-radius: 14px;
}
#navigation-body .ui-accordion-header {border-top: none;}

/*
#navigation-body .ui-accordion-header:nth-child(n+2):not(.ui-state-active),
#navigation-body .ui-accordion-header:nth-child(n+2).ui-state-active {
	border-top: none;
}
*/


#navigation-body .ui-accordion-header,
#navigation-body .ui-accordion-content {
	border-left: none;
	border-right: none;
}

#navigation-body {
	/*padding-bottom: 60px;*/
	border-radius: 14px;
	background-color: #FFF;
}

#content .dataTables_filter input {
	padding: 0px;
	margin-bottom:10px;
}




#navigation-body .ui-accordion-header {
	margin: 0px;
}


#navigation .ui-corner-bottom,
#navigation .ui-corner-top,
#navigation .ui-corner-all {
 -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

#navigation .main-nav>div {
  padding: 5px 30px 20px 50px;
}

#navigation .main-nav li {
  margin-bottom: 5px;
}

#footer {
  font-size: 10px;
  line-height: 18px;
  
  position: absolute;
  bottom: 10px;
  right: 0px;
}

#footer a {
	color: #FFF;
	text-decoration: underline;
}

.header-nav {
  text-align: right;
}

#exceptionlogo{
  float: right;
  margin-bottom: 150px;
}


/* splitter */

.ui-splitter .hsplitbar {
  height: 8px;
  background: #dcdcba url(hgrabber.gif) no-repeat center;
  /* No margin, border, or padding allowed */
  border:dcdc9a 1px solid;
 -moz-border-radius: 1;
  -webkit-border-radius: 1;
  border-radius: 1;
}
.ui-splitter .hsplitbar.active,
.ui-splitter .hsplitbar:hover {
    background: #e88 url(hgrabber.gif) no-repeat center;
}

.ui-splitter {
	/*height: 900px;
	height: 100%;*/
	
	position: absolute !important;
	top: 20px;
	bottom: 20px;
	left: 20px;
	right: 20px;
}

.ui-splitter>div {
  background-color: #ffffff;
}

.vsplitbar {
  width: 5px;
  background: #cccccc;
}

.ui-splitter .ui-tabs{
  height: 100%;
}

/* display form */
.display-form dt {
  clear:both;
  float:left;
  width:30%;
  font-weight:bold;
}

.display-form dd {
  float:right;
  width:65%;
}


/* deco fix */
#columns div.position-4 {
	margin-left: -72.91667%;
}