/* navigation */

#logo{
  background-color: #ffffff;
  color:#f14c1a;
  height: 20px;
  padding:20px 30px;
}

#navigation .ui-corner-bottom,
#navigation .ui-corner-top,
#navigation .ui-corner-all {
 -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

#footer {
  font-size: 10px;
  line-height: 18px;
  padding-right: 15px;
  text-align: right;
}

.header-nav {
  text-align: right;
}

#exceptionlogo{
  float: right;
  margin-bottom: 150px;
}


/* splitter */

.ui-splitter .hsplitbar {
  height: 8px;
  background: #dcdcba url(hgrabber.gif) no-repeat center;
  /* No margin, border, or padding allowed */
  border:dcdc9a 1px solid;
 -moz-border-radius: 1;
  -webkit-border-radius: 1;
  border-radius: 1;
}
.ui-splitter .hsplitbar.active,
.ui-splitter .hsplitbar:hover {
    background: #e88 url(hgrabber.gif) no-repeat center;
}

.ui-splitter {
  height: 900px;
}
.ui-splitter>div {
  overflow: hidden;
}

.vsplitbar {
  width: 5px;
  background: #cccccc;
}

/* display form */
.display-form dt {
  clear:both;
  float:left;
  width:30%;
  font-weight:bold;
}

.display-form dd {
  float:right;
  width:65%;
}
