#wrapper {
  color: #464F52;
  font-family: "Trebuchet MS",geneva,helvetica,arial,tahoma,verdana,sans-serif !important;
  font-size: 13px;
  background-color: #e9eced;
  background-image: linear-gradient(bottom, #424242 0%, #E0E0E0 100%);
  background-image: -o-linear-gradient(bottom, #424242 0%, #E0E0E0 100%);
  background-image: -moz-linear-gradient(bottom, #424242 0%, #E0E0E0 100%);
  background-image: -webkit-linear-gradient(bottom, #424242 0%, #E0E0E0 100%);
  background-image: -ms-linear-gradient(bottom, #424242 0%, #E0E0E0 100%);
  
  background-image: -webkit-gradient(linear, left bottom, left top, from(#424242), to(#E0E0E0));
}


h1 {
  color:#1e4cde;
  font-size: 18px;
  margin-bottom: 5px;
}

h1 a {
  color:#1e4cde;
}

h2, h3 {
  margin: 15px 0 5px 0;
  color:#1e4cde;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}

