/* theme styles */
#logo{
  position: absolute;
  top: 8px;
}


/* datatable */


/*
 * Namespace: DTS (DataTables Scroller)
 */

div.DTS tbody th,
div.DTS tbody td {
    white-space: nowrap;
}

div.DTS tbody tr.even {
    background-color: white;
}

div.DTS div.DTS_Loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 20px;
    margin-top: -0px;
    margin-left: -100px;
    z-index: 1;

    border: 1px solid #999;
    padding: 5px 0;
    text-align: center;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.5);
}

div.DTS div.dataTables_scrollHead {
    background-color: white;
}

div.DTS div.dataTables_scrollBody {
    z-index: 2;
}

div.DTS div.dataTables_scroll {
    background: url('loading-background.png') repeat 0 0;
}

table.display thead th div.DataTables_sort_wrapper span {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 0;
}

table.display thead th div.DataTables_sort_wrapper {
  position: relative;
}

.ui-datatable tr.ui-state-active td {
  background-color: #0922FF !important;
  color: #FFF;
}

.ui-datatable tr.ui-state-active td .ui-icon{
   background-image: url(ui-icons_ffffff_256x240.png);
}

.ui-datatable {
  width: 100% !important;
  table-layout: fixed;
}

.ui-datatable tbody td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ui-datatable tr.ui-state-active {
  border: none !important;
}

.ui-datatable tbody tr a {
   margin: auto;
}


.dataTables_wrapper .dataTables_filter input:focus {
   outline: none;
}

.ui-datatable td, .ui-datatable th {text-overflow: ellipsis;}
.dataTables_scrollHeadInner {width: 100% !important;}


.dataTables_scrollBody th:first-child,
.dataTables_scrollHead th:first-child {border-left:none;}
.dataTables_scrollBody th:last-child,
.dataTables_scrollHead th:last-child {border-right:none;}


.ui-datatable tr.odd {
  background-color: #C4DBFF;
}
.ui-datatable tr.even td.sorting_1 {
  background-color: transparent;
}

.ui-datatable tr.odd td.sorting_1 {
  background-color: #EEF8FF;
}

.ui-datatable th.ui-table-action {
 width: 100px;
}



.ui-datatable tr.odd.table-color-red {
  background-color: #FF4242;
}
.ui-datatable tr.even.table-color-red {
  background-color: #FFC9C9;
}

.ui-datatable tr.odd.table-color-red td.sorting_1 {
  background-color: #FF9191;
}

.dataTables_scrollHead, .dataTables_scrollBody {
  width: 100% !important;
  overflow-x:hidden !important;
  overflow-y:auto !important;
}


.ui-splitter .dataTables_wrapper tr{
  height: 20px;
}


.ui-splitter .dataTables_wrapper {
  /*height: 100%;
  min-height: 100%;*/
  min-height: 120px;
  height: 100%;
}

.ui-splitter .dataTables_scroll {
  position: absolute;
  top: 12px;
  bottom: 48px;
  left: 0px;
  right: 0px;
}

.dataTables_filter {
  margin-top: 10px;
  margin-right: 10px;
  width: 400px;
}

.dataTables_filter input {
  margin:0px;
  border-radius: 10px;
  width: 200px;
  border: 1px ridge lightGray;
  padding: 0px 10px;
}

.dataTables_filter input:focus {
	border-color: darkGray;
}


.dataTables_filter label {font-weight: bold;}

.dataTables_info {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

/* navigation */
#navigation .ui-accordion-content {
  border: none;
  padding: 0px;
}

#navigation .ui-accordion-content ul li a {
  display: block;
  padding: 5px 20px 5px 40px;
}

#navigation .ui-accordion-content ul li:hover {
  background: #ebf1f6; /* Old browsers */
  background: -moz-linear-gradient(top,  #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* IE10+ */
  background: linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */
}

#navigation .ui-accordion-header:first-child {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  -webkit-border-top-left-radius: 14px;
  -webkit-border-top-right-radius: 14px;
  -moz-border-top-left-radius: 14px;
  -moz-border-top-right-radius: 14px;
  border-bottom: 1px solid lightGrey;
}

#navigation .ui-accordion-header,
#navigation .ui-accordion-content {
  border-left: none;
  border-right: none;
  border-bottom: none;
}


#navigation .ui-accordion-content {
  top: 2px;
}

#navigation .ui-accordion-header {
  margin: 0px;
}

#navigation .ui-accordion-header.ui-state-active {
  border-bottom: 1px solid lightGrey;
}

#navigation .ui-corner-bottom,
#navigation .ui-corner-top,
#navigation .ui-corner-all {
 -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

#footer {
  font-size: 10px;
  line-height: 18px;
  text-align: right;
  padding: 20px 0px;
  position: absolute;
  right: 0px;
  top: 100%;
}

#footer a {
  color: #FFF;
  text-decoration: underline;
}


#exceptionlogo {
  float: right;
  margin-bottom: 150px;
}


/* splitter */
.ui-splitter .hsplitbar,
.ui-splitter .hsplitbar a {
  cursor: url('cursor-rowresizing.gif'), n-resize !important;
  outline: none;
}

.ui-splitter .hsplitbar {
  text-align:center;
  height: 7px;
  line-height:0;
  
  /*background: #dcdcba url(hgrabber.gif) no-repeat center;*/
  /* No margin, border, or padding allowed */
  border:#cccccc 1px solid;
  border-left:none;
  border-right:none;
 -moz-border-radius: 1;
  -webkit-border-radius: 1;
  border-radius: 1;
  
  background: #fefefe; /* Old browsers */
  background: -moz-linear-gradient(top,  #fefefe 0%, #dbdbdb 76%, #c6c6c6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(76%,#dbdbdb), color-stop(100%,#c6c6c6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fefefe 0%,#dbdbdb 76%,#c6c6c6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fefefe 0%,#dbdbdb 76%,#c6c6c6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fefefe 0%,#dbdbdb 76%,#c6c6c6 100%); /* IE10+ */
  background: linear-gradient(top,  #fefefe 0%,#dbdbdb 76%,#c6c6c6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#c6c6c6',GradientType=0 ); /* IE6-9 */
}

.ui-splitter .hsplitbar.active,
.ui-splitter .hsplitbar:hover {
  background: #eaeaea; /* Old browsers */
  background: -moz-linear-gradient(top,  #eaeaea 0%, #969696 76%, #939393 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(76%,#969696), color-stop(100%,#939393)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #eaeaea 0%,#969696 76%,#939393 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #eaeaea 0%,#969696 76%,#939393 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #eaeaea 0%,#969696 76%,#939393 100%); /* IE10+ */
  background: linear-gradient(top,  #eaeaea 0%,#969696 76%,#939393 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#939393',GradientType=0 ); /* IE6-9 */
}

.ui-splitter .hsplitbar a{
  display:inline-block;
  height:7px;
  width:25px;
  background: url('hgrabber.png') center center no-repeat;
}

.ui-splitter .primar-view {
  min-height: 140px;
  min-width: 100px;
  overflow: hidden;
}

/* fixes splitter */
.ui-splitter {
  border: 1px solid #CCC;
  width: 100%;
  min-height: 100%;
  /*position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;*/
}

.vsplitbar {
  width: 5px;
  background: #cccccc;
}

/* secondary view of the ui splitter*/
#ui-datatable-ajaxcontent {
  min-height: 210px;
  overflow: hidden;
}

#ui-datatable-ajaxcontent #ui-tabs-rulesets {
   position: relative;
   padding: 0px !important;
}


#ui-datatable-ajaxcontent #ui-tabs-rulesets {
   /* height: 100%; */
   position: absolute;
   top: 37px;
   right: 0px;
   bottom: 0px;
   left: 0px;
}

#ui-datatable-ajaxcontent #ui-tabs-rulesets > div {
  height: 100%;
}

#ui-datatable-ajaxcontent textarea{
  width: 100%!important;
  height:100%!important;
  overflow: auto!important;
}

#ui-datatable-ajaxcontent>* {
  margin-top: 30px;
}

/* tab inside splitter */
.ui-splitter .ui-tabs {
  height: 100%;
}

.ui-splitter .ui-tabs .ui-tabs-panel {
  position: absolute;
  top: 26px;
  bottom: 29px;
  left: 0px;
  right: 0px;
  overflow: auto;
}



/* display form */

.display-form a,
.display-form a:active {
  color:#2a00ff;
}

.display-form a:hover {
  color:#8870FF;
}


.display-form tr {
  border-bottom: solid 1px #aaaaaa;
}

.display-form th {
  text-align:left;
  font-weight:bold;
  line-height:20px;
  padding-top:10px;
  padding-right: 50px;
}

.display table {
  margin-top: 20px;
}

/* deco fix 
#columns div.position-4 {
  margin-left: -72.91667%;
}*/


/* toolbar (add and submit button) */
.primar-view .formControls,
#ui-tabs-rulesets .formControls {
  position: absolute;
  top: 16px;
  left: 10px;
}

.primar-view .formControls a,
#ui-tabs-rulesets .formControls a {
  height: 20px;
 
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
 
  text-align: left;
 
  padding: 2px 6px 2px 2px;
}

.primar-view .formControls a span,
#ui-tabs-rulesets .formControls a span {
  padding: 0px !important;
}

.primar-view .formControls .ui-button,
#ui-tabs-rulesets .formControls .ui-button {
   border-bottom: none !important;
}

/* primary view submit button*/
.primar-view .formControls .ui-icon {
  display: inline-block;
  vertical-align: -2px;
}

.primar-view .formControls .ui-button-text {
  height: 100%;
}

/* testing */
.ui-console{
  background-color:#080808;
  color:#5fba3d;
  font-family:monospace, prestige;
  overflow-y: scroll;
  height: 140px;
  padding: 5px;
}

/* info message */
.info-message{
  margin: 0 0 10px;
}

/* mails table*/
.mail-tab-view #tab-content {
    height: 80%;
}

#ui-modal-content .datable-widget-view {
  height: 180px;
}

#ui-modal-content .dataTables_scroll,
#ui-modal-content .dataTables_scrollBody {
  height: 106px !important;
}

#ui-modal-content .dataTables_wrapper {
  height: 180px;
  min-height: 0;
}

#ui-modal-content .dataTables_info {
  top:161px;
  bottom: auto;
  font-size: 12px;
}

#ui-modal-content .dataTables_filter {
  margin-bottom: 5px;
  margin-right: 0;
  font-size: 12px;
  font-weight: normal;
}

body .ui-dialog .overrides\.title div {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.overrides\.title label {
  display: inline-block;
  width: 80px;
}

.listing {
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: left;
}

.listing th {
  font-weight: bold;
}

.listing th,
.listing td {
  padding: 2px 25px 2px 0;
}


#mail_chart {
  margin: 80px 30px 30px 30px;
  height: 400px;
}


#mail_chart .jqplot-yaxis {
  left: -10px !important;
}


#mail_chart .jqplot-yaxis {
  bottom: -10px !important;
}


